<div class="card">
    <div class="card-header">My Bookings</div>
    <div class="card-body">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Booking Id</th>
                    <th>Name</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>Doe</td>
                    <td>Doe</td>
                    <td>john@example.com</td>

                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>Doe</td>
                    <td>Doe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>Doe</td>
                    <td>Doe</td>
                    <td>july@example.com</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>