<div class="card">
    <div class="card-header">Confirm Booking</div>
    <div class="card-body">
        <table class="table table-bordered">
            <!-- <tr>
                <td>Booking Id:</td>
                <td> sadsa5dsa64d64</td>
            </tr> -->
            <tr>
                <td>Name:</td>
                <td> John Doe</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>john@doe.com</td>
            </tr>
            <tr>
                <td>Phone no.:</td>
                <td>+123458845156</td>
            </tr>
            <tr>
                <td>No. of Rooms:</td>
                <td>4</td>
            </tr>
            <tr>
                <td>No. of Guests:</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Total amount</td>
                <td>4000</td>
            </tr>
            <tr>
                <button class="btn btn-success btn-lg btn-block">Proceed</button>
            </tr>
        </table>
    </div>
</div>